@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600&display=swap');

html {
    font-size: 62.5%;
}

:root {
    /* Color */
    --bg-color: #181818;
    --strong-color: #fff;
    --light-color: #bfbfbf;
    --accent-color-dark: #20B46A;
    --accent-color-light: #00CE79;
    --input-bg-color: #535353;

    /* Font */
    --regular-fw: 400;
    --medium-fw: 500;
    --semibold-fw: 600;
    --bold-fw: 700;
    --black-fw: 900;

    /* Mobile */
    --mobile-small-font: 1.6rem;
    --mobile-small-m-font: 2rem;
    --mobile-medium-font: 2.4rem;
    --mobile-large-font: 4rem;


    /* Tablet */
    --tablet-t-font: 1.6rem;
    --tablet-s-font: 2rem;
    --tablet-m-font: 2.4rem;
    --tablet-l-font: 3.6rem;
    --tablet-xl-font: 6.4rem;

    /* Desktop */
    --desktop-t-font: 2rem;
    --desktop-s-font: 2.4rem;
    --desktop-m-font: 3.2rem;
    --desktop-l-font: 4rem;
    --desktop-xl-font: 8rem;

}

body {
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif; 
    overflow-x: clip;
}

.container {
    margin: 0 0.5rem;
}

h1,h3,h4 {
    color: var(--strong-color);
}

p {
    color: var(--light-color);
    font-size: var(--mobile-small-font);
    line-height: 2em;
}

section {
    margin: 20rem 0;
}

.hero-greeting {
    font-size: var(--mobile-small-font);
    margin-bottom: 0;
}

.hero-pitch {
    font-size: var(--mobile-large-font);
    font-weight: var(--bold-fw);
    margin-top: 0;
    margin-bottom: 4rem;
}

#hero-section {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin: 8rem 0;
}

.hero-btn {
    background-color: var(--accent-color-dark);
    border-radius: 0.25rem;
    color: var(--strong-color);
    font-weight: var(--bold-fw);
    font-size: var(--mobile-small-m-font);
    padding: 1rem 1.5rem;
    width: fit-content;
    text-decoration: none;
}

#hero-section img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.section-title {
    font-size: var(--mobile-small-font);
    font-weight: var(--regular-fw);
}

.projects-col {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.project-title {
    font-size: var(--mobile-medium-font);
    font-weight: var(--semibold-fw);
    margin-bottom: 0;
}

.project-description {
    font-size: var(--mobile-small-font);
    font-weight: var(--regular-fw);
    margin-top: 1rem;
    line-height: 2em;
}

#projects-section img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.experience-item {
    position: relative;
    padding-left: 2rem;
    padding-bottom: 10rem;
}

.experience-item::before {
    position: absolute;
    left: -8px;
    top: 10px;
    content: " ";
    border: 5px solid var(--accent-color-dark);
    border-radius: 500%;
    background: var(--bg-color);
    height: 10px;
    width: 10px;
    z-index: 50;
}

.experience-item::after {
    content : "";
    position: absolute;
    left    : 0;
    top  : 0;
    width  : 5px;
    height   : 100%;  
    background: var(--accent-color-dark);
}

.experience-item.first::after {
    content : "";
    position: absolute;
    left    : 0;
    top  : 10%;
    width  : 5px;
    height   : 90%; 
    background: var(--accent-color-dark);
}

.experience-item.last::after {
    content : "";
    position: absolute;
    left    : 0;
    top  : 0;
    width  : 5px;
    height   : 2rem;  
    background: var(--accent-color-dark);
}

.experience-item h4 {
    font-size: var(--mobile-medium-font);
    font-weight: var(--bold-fw);
    margin: 0;
}

.experience-item em {
    color: var(--accent-color-dark);
    font-size: var(--mobile-small-font);
    font-weight: var(--semibold-fw);
    margin: 0;
}

.experience-item p {
    font-size: var(--mobile-small-font);
    margin: 0;
}

.about-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.about-container p {
    font-size: var(--mobile-small-font);
    margin-top: 2em;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

form label {
    color: var(--strong-color);
    font-size: var(--mobile-small-font);
    font-weight: var(--medium-fw);
    line-height: 2em;
}

form input, form textarea {
    background-color: var(--input-bg-color);
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    color: var(--strong-color);
    font-size: var(--mobile-small-font);
    font-weight: var(--regular-fw);
    letter-spacing: 0.07em;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1em;
}

form input[input=text]:focus, form textarea:focus {
    border: none;
}

textarea {
    resize: vertical;
}

button {
    background-color: var(--accent-color-dark);
    border: none;
    border-radius: 0.25rem;
    color: var(--strong-color);
    font-weight: var(--bold-fw);
    font-size: var(--mobile-small-m-font);
    padding: 1rem 1.5rem;
    width: fit-content;
    text-decoration: none;
}

.other-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.other-contact a {
    font-size: var(--mobile-small-font);
    color: var(--light-color);
}

.other-contact a img {
    display: flex;
    align-items: center;
    height: 4rem;
}

/* Tablet CSS */
@media only screen and (min-width: 744px) {

    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .hero-greeting {
        font-size: var(--tablet-m-font);
    }

    .hero-pitch {
        font-size: var(--tablet-xl-font);
    }

    .hero-btn {
        font-size: var(--tablet-s-font);
    }

    .section-title {
        font-size: var(--tablet-m-font);
    }

    .project-title {
        font-size: var(--tablet-l-font);
    }

    .project-description {
        font-size: var(--tablet-s-font);
    }

    .experience-item {
        padding-left: 4rem;
    }

    .experience-item::before {
        left: -0.8rem;
        border-width: 7px;
        height: 20px;
        width: 20px;
    }

    .experience-item::after, .experience-item.first::after, .experience-item.last::after {
        width: 7px;
        left: 0.6rem;
    }

    .experience-item h4 {
        font-size: var(--tablet-l-font);
    }

    .experience-item em {
        font-size: var(--tablet-m-font);
    }

    .experience-item p {
        font-size: var(--tablet-s-font);
    }

    .about-container p {
        font-size: var(--tablet-s-font);
    }

    .description {
        font-size: var(--tablet-s-font);
    }

    form label, form input, form textarea, form button {
        font-size: var(--tablet-s-font);
    }

    .other-contact a {
        font-size: var(--tablet-s-font);
    }
}

/* Desktop CSS */
@media only screen and (min-width: 1024px) {

    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 90vw;
    }

    section {
        margin: 40rem 0;
    }

    #hero-section {
        display: flex;
        flex-direction: row;
        height: 110rem;
    }

    #hero-section .col {
        position: absolute;
        margin-top: 10rem;
        width: 50%;
        z-index: 10;
    }

    .hero-greeting {
        font-size: var(--tablet-m-font);
    }

    .hero-pitch {
        font-size: var(--tablet-xl-font);
    }

    .hero-btn {
        font-size: var(--tablet-s-font);
    }

    #hero-section img {
        position: relative;
        height: 164rem;
        width: 164rem;
        top: -30rem;
        right: -60rem;
        z-index: -1;
    }

    .section-title {
        font-size: var(--tablet-m-font);
    }

    .project-row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .project-title {
        font-size: var(--tablet-l-font);
    }

    .project-description {
        font-size: var(--tablet-s-font);
    }

    .experience-item {
        width: calc(50% - 3rem);
        position: relative;
        padding-left: 4rem;
        margin-left: auto;
    }

    .experience-item::before {
        border-width: 7px;
        height: 20px;
        width: 20px;
    }

    .experience-item::after, .experience-item.first::after, .experience-item.last::after {
        width: 7px;
    }

    .experience-item h4 {
        font-size: var(--tablet-l-font);
    }

    .experience-item em {
        font-size: var(--tablet-m-font);
    }

    .experience-item p {
        font-size: var(--tablet-s-font);
    }

    .experience-item.first, .experience-item.last {
        text-align: right;
        padding-left: 0;
        padding-right: 4rem;
        margin-left: 0;
        margin-right: auto;
    }

    .experience-item.first::before, .experience-item.last::before {
        left: auto;
        right: -0.6rem;
    }

    .experience-item.first::after, .experience-item.last::after {
        left: auto;
        right: 0.7rem;
    }

    .about-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .about-container p {
        font-size: var(--tablet-s-font);
    }

    .description {
        font-size: var(--tablet-s-font);
    }

    .contact-container {
        flex-direction: row;
        justify-items: stretch;
    }

    form {
        width: 50%;
    }

    form label, form input, form textarea, form button {
        font-size: var(--tablet-s-font);
    }

    .other-contact {
        width: auto;
        margin-top: 4rem;
        flex-direction: column;
        gap: 10rem;
        justify-content: flex-start;
        align-items: start;
    }

    .other-contact a {
        font-size: var(--tablet-s-font);
    }
}

@media only screen and (min-width: 1920px) {

    .container {
        max-width: 1680px;
        margin: auto;
    }

}
